.Boutique{
  
    width:700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type:none;
    padding: 30px;
    margin-left: 100px;
}

.ensemble{

    margin:5px;
}

.btn-ajouter:hover{
color:white;
background-color:lightskyblue;
font-size: medium;
}

.btn-ajouter{
    color: black;
    font-size:medium;
    }